.gameCard > .favoriteIcon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    pointer-events: auto;
}

.gamePage > .favoriteIcon {
    position: absolute;
    top: 0;
    right: 0;
}

.favoriteIcon svg:hover {
    fill: #FFD32C;
    cursor: pointer;
}