.gamePage {
    position: relative;
    width: 50vw;
    min-width: 600px;
    text-align: left;
    margin: 0 auto;
}


.gamePage * {
    max-width: 85vw;
}

.gamePage p {
    text-align: justify;
}

.returnLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.coverAndInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 2rem;
}

.gamePageCoverImage {
    width: 200px;
    height: auto;
    align-self: flex-start;
    margin-top: 1.2rem;
    border-radius: 3px;
    box-shadow: 0 0 10px #DBE2EF;
}

.gamePageInfo {
    display: flex;
    gap: 0 4rem;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .gamePage {
        min-width: 85vw;
        margin: 0 2rem;
    }

    .coverAndInfoContainer {
        gap: 1rem;
        margin-bottom: 0;
        justify-content: center;
    }
}