/*
Colors:
    #F9F7F7
    #DBE2EF
    #3F72AF
    #112D4E
*/

@import url(./navBar.css);
@import url(./resultList.css);
@import url(./gamePage.css);
@import url(./gameCard.css);
@import url(./favoriteIcon.css);
@import url(./tooltip.css);
@import url(./themes/darkmode.css);

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #112D4E;
    background-color: #F9F7F7;
}